{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block name_of_user %}{{ user.last_name }} {{ user.first_name }}{% endblock %}
{% block username %}{{ user.username }}{% endblock %}

{% block content %}
            <div class="main-bar">
                <div class="text">Categories</div>
                <div class="cards-display">
                    {% if categories %}
                    {% for category in categories %}
                    <div class="card">
                        <a href="/rate/{{ category.name }}">
                            <img src="{{ category.img }}" alt="">
                            <p class="text1">{{ category.name }}</p>
                            <p class="text2">{{ category.description|truncatewords:3 }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                        <p>There are no samples to evaluate in this topic.</p>
                    {% endif %}
                </div>
                {% for x, z in ret_dict.items %}
                <div class="text">{{ x }}</div>
                <div class="cards-display">
                        {% for y in z%}
                        <div class="card">
                        <a href="/rate/{{ y.id }}/{{ y.id }}">
                            <img src="{{ y.img }}" alt="">
                                <p class="text1">{{ y.name }}</p>
                                <p class="text2">{{ y.tags|truncatewords:8 }}</p>
                            </a>
                        </div>
                        {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="myhr"></div>
            <div id="right" style="display:show" class="right-bar">
                <div class="popular-text">Popular:</div>
                <div class="right-cards">
                    {% if samples %}
                        {% for sample in samples %}
                        <div class="right-card">
                            <img src="{{ sample.img }}" alt="">
                            <div>
                                <p class="text-top">{{ sample.name }}</p>
                                <p class="text-bottom">{{ sample.tags|truncatewords:8 }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no samples to evaluate in this topic.</p>
                    {% endif %}
                </div>
            </div>
{% endblock %}
