{% extends "base.html" %}

{% block title %}Recommend - {{ category_name }}{% endblock %}

{% block name_of_user %}{{ user.last_name }} {{ user.first_name }}{% endblock %}
{% block username %}{{ user.username }}{% endblock %}

{% block content %}
            <div class="main-bar">
                <div class="text">{{ category_name }}</div>
                <div class="cards-display">
                {% if samples %}
                    {% for sample in samples %}
                    <div class="card">
                        <a href="/rate/sample/{{ sample.id }}">
                            <img src="{{ sample.img }}" alt="">
                            <p class="text1">{{ sample.name }}</p>
                            <p class="text2">{{ sample.description|truncatewords:8 }}</p>
                        </a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="text2">Please, rate some sample for recommendation.</p>
                {% endif %}
                </div>
            </div>
            <div class="myhr"></div>
            <div class="right-bar">
                <div class="popular-text">Popular in Recommended:</div>
                <div class="right-cards">
                    {% if samples %}
                        {% for sample in samples %}
                        <div class="right-card">
                            <img src="{{ sample.img }}" alt="">
                            <div>
                                <p class="text-top">{{ sample.name }}</p>
                                <p class="text-bottom">{{ sample.tags|truncatewords:8 }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no samples to evaluate in this topic.</p>
                    {% endif %}
                </div>
            </div>
{% endblock %}
