{% extends "base.html" %}

{% block title %}Rate - {{ sample.name }}{% endblock %}

{% block name_of_user %}{{ user.last_name }} {{ user.first_name }}{% endblock %}
{% block username %}{{ user.username }}{% endblock %}

{% block content %}
            <div class="main-bar">
                <div class="rate-card">
                    <h1 class="text1"><a href="/rate/{{ category }}">{{ category }}</a> > {{ sample.name }}</h1>
                    <img src="{{ sample.img }}" alt="">
                    <p class="text2">Tags: {{ sample.tags }}</p>
                    <p class="text2">{{ sample.description }}</p>
                    {% if rate == -1 %}
                    <form method="post" id="rate-input">
                        {% csrf_token %}
                        <div class="input-field">
                            <input type="text" name="userId" id="userId" value="{{ user.id }}" style="display: none;">
                            <input type="text" name="sampleId" id="sampleId" value="{{ sample.id }}" style="display: none;">
                            <input placeholder="Rate this sample!" name="rate" list="rates" style="width: fit-content;">
                            <datalist id="rates">
                                {% for opt in options %}
                                    <option value="{{ opt }}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <button type="submit" class="btn solid">Send!</button>
                    </form>
                    {% else %}
                    <p class="text2"><b>You have already rated the sample. Your rating is {{ rate }}.</b></p>
                    {% endif %}
                </div>
            </div>
{% endblock %}
